/* Default Style */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

.background-1{
    background-image: url("../img/fond-mutuel-1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* .background-login{
    background-image: url("../img/acceuil-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
 */
.bg-red{
    background-color: #bf2d2c;
}
/* Utilities */

.card-red{
    background-color: #bf2d2c;
     background-size: cover;
      background-repeat: no-repeat; border-radius: 5%;
}
.card-green{
    background-color: #558b5e;
     background-size: cover;
      background-repeat: no-repeat; border-radius: 5%;
}
.card-brown{
    background-color: #764334;
     background-size: cover;
      background-repeat: no-repeat; border-radius: 5%;
}

.small-card{
    flex: 0 0 55%;
    margin-right: 2rem;
    height: 70vh !important;
}

.side-board{
    background-image: url(../img/bord-gauche.png);
     background-size: cover;
      background-repeat: no-repeat;
}

.overflow-scroll{
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.overflow-hidden {
    overflow-y: hidden;
}

.table-scroll-container {
    overflow-y : auto;
    height:100vh;
}

/* .table-scroll-small-height {
    height: 50vh;
}

.table-scroll-high-height {
    height: 100vh;
} */

.container-padding {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}



.min-w-80{
    min-width: 80% !important;
}
.min-w-85{
    min-width: 85% !important;
}

.w-90{
    width: 90%;
}

.border-red{
    border: 1px solid #e64c4b;
}

.overlay-fit{
    max-width: 100% !important;
    max-height: 100% !important;
    min-width: 90% !important;
}

.h-90{
    height: 90%;
}

.vh-90{
    height: 90vh;
}

.vh-83{
    height: 83vh;
}

.vw-75{
    width: 75vw;
}

.max-w-95{
    max-width: 95% ;
}

.min-h-25{
    min-height: 25%;
}
.max-h-50{
    min-height: 50%;
}

.one-pg{
    height: 100vh;
    width: 100vw;
}

.three-cards-row{
    max-width: 24%;
}

.top-icon{
    position: relative;
    top: -50px;
    left: 0px;
}

.top-text{
    position: relative;
    top: -27px;
    left: 0px;
}

.ml-8{
    margin-left: 7.5rem;
}
.ml-9{
    margin-left: 7.5rem;
}
.ml-15{
    margin-left: 32rem;
}

.mt-9{
    margin-top: 7.5rem;
}

.mt-10{
    margin-top: 10rem;
}

.background-fit{
    height: 100%;
    width: 100%;
}

.small-icon{
    max-width: 25px;
    max-width: 25px;
}
.logo{
    height: 50px !important;
    width: 50px !important;
}

.medium-icon{
    max-height: 150px;
    max-width: 150px;

}

.logo{
 height: 150px;
 width: 150px;
}

.display-none{
    display: none !important;
}

.d-grid{
    display: inline-flex;
}

.card-corner{
    border-radius: 15px;
}
.rounded{
    border-radius: 50%;
}
.rounded-left-only{
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.display-0 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.2; }

.corner-smoother{
    border-radius: 20%;
}

.vh-75{
    height: 75vh;
}

.small-text-shadow{
    text-shadow: 0px 2px 2px black ;
}

.link-dark{
    color: black;    
}

.link-dark:hover{
    color: #FBE5D6;
}
/* Button */
.button {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    max-width: 120px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .button:hover {
    text-decoration: none;
  }
  .icon-link:hover{
      background-color: rgba(0,0,0,0.8);
  }
  
  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 4px solid #000;
    box-shadow:0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 4px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: #333;
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }


/* Menu */
body {
    position: relative;
    overflow-x: hidden;
    background-color: #CFD8DC;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(5n+1):before {
    background-color: #60baca;   
}
.sidebar-nav li:nth-child(5n+2):before {
    background-color: #0fbd27;   
}
.sidebar-nav li:nth-child(5n+3):before {
    background-color: #7a4a1c;   
}
.sidebar-nav li:nth-child(5n+4):before {
    background-color: #831717;   
}
.sidebar-nav li:nth-child(5n+5):before {
    background-color: #4ccbd4;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
/*Fontawesome icons*/



/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 80px;
  font-size: 14px;
  color: #0fbd27;
  line-height: 10px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 3px;
  height: 6px;
  width: 75%;
  margin-left: 3px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #0fbd27;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -3px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 2px;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  transform: rotate(45deg);
  transition: transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  transform: rotate(-45deg);
 transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #6c757d;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  transform: translate3d(-100px,0,0);
  transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

/* Index */
.login{
    padding: 8px 40px;
    border: 0px;
    background-image: url("../img/login-up.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.login:hover{
    padding: 8px 40px;
    background-image: url("../img/login-hover.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.login:focus{
    border: 0px;
    background-image: url("../img/login-down.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

::placeholder{
    font-style: italic;
    color: #bfbfbf;
}

/* Media Queries */
@media(max-width: 640px){
.responsive-img{
    width: 120vw;
    height: 60vh !important;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    left: -40px;
    top: 100px;
}

.responsive-text{
    font-size: 2rem ;
}
.responsive-text-sm{
    font-size: 1rem ;
}

#log-box{
    margin-top: 2rem;
}
}

@media(min-width:641px) and (max-width: 800px){

}

/* Actualiser_membre media */

.small-icon{
   display: inline;
}

#title{
    font-size: 2rem;
}

.responsive-board{
    min-width: 120vw;
    height: 65vh !important;
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    left: -40px;
    top: 100px;
}

/* actualiser un membre */

.block{
    min-height: 63vh;
    max-height: 80vh;
}

.vh-long-bg{
    height: 160vh;
    width: 100vw;
}
.vh-long-board{
    height: 130vh;
    width: 110vw;
    position: relative;
    left: -20px;
}

/* Media Queries */




